<p id="notice"><%= notice %></p>
<div class= "container">
    <div class= "row">
        <div class="span8">
            <h1>LaunchBox</h1>
        </div>
        <div class="span4">
            <%= button_to 'Submit your app', new_app_path, class: "btn btn-primary btn-large", method: :get %>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <img src="/assets/launchbox.jpg">
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <table>
              <tr>
                <th>Name</th>
                <th>Url</th>
                <th>Email</th>
                <th>Codebase url</th>
                <th>Props</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>

            <% @apps.each do |app| %>
              <tr>
                <td><%= app.name %></td>
                <td><%= app.url %></td>
                <td><%= app.email %></td>
                <td><%= app.codebase_url %></td>
                <td><%= app.props.count %></td>
                <td><%= link_to 'Show', app %></td>
                <td><%= link_to 'Edit', edit_app_path(app) %></td>
                <td><%= link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
            </table>
        </div>
    </div>
    <br />
</div>


