<div class= "container">
<<<<<<< HEAD
  <div class= "row">
     <p id="notice"><%= notice %></p>
      <div class="span8">
          <h1>LaunchBox</h1>
      </div>
      <div class="span4">&nbsp;</div>
  </div>
  <div class="row">
    <div class="span12">
      <img src="/assets/launchbox.jpg">
    </div>
  </div>
  <div class= "row">
    <div class="span12">
      <h3> <%= @app.name %> </h3>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <p>
        <b>URL: </b><%= @app.url %>
      </p>
      <p>
        <b>Email: </b><%= @app.email %>
      </p>
      <p>
        <b>Codebase URL: </b><%= @app.codebase_url %>
      </p>
      <p>
        <b>Description: </b><%= @app.description %>
      </p>
    </div>
    <div class="span3">
    </div>
    <div class="span2">
      <div class="pull-right"><%= render 'props/form' %></div>
    </div>
    <div class="span1 pad-top">
      <div class="my-label">
        <%= @app.props.count %>
      </div>
    </div>
  </div>
        <br />
        <h4>Comments</h4>
        <hr />
        <% @app.comments.each do |comment| %>
        <div class="row comments-section">
          <div class="offset1 span2">
            <span class="commenter"><%= comment.first_name %> <%= comment.last_name %> said:<span>
          </div>
          <div class="span8">
           <span class="comment-text"><%= comment.text %></span>
         </div>
       </div>
       <div class="row">
        <div class="offset1 span10">
          <hr />
        </div>
       </div>
      <% end %>

  <div class="row">
    <div class="offset2 span6">
      <%= render 'comments/form' %>
    </div>
  </div>

    </div>
  </div>
  <div class="row">
    <div class="offset6 span4">
      <%= link_to 'Edit', edit_app_path(@app) %> |
      <%= link_to 'Back', apps_path %>
    </div>
  </div>
</div>