<div class= "container">
    <div class= "row">
        <div class="span12">
            <h1>LaunchBox</h1>
        </div>
    </div>

  <div class= "row">
        <div class="span12">
            <h3> <%= @app.name %> </h3>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <img src="http://placehold.it/960x425">
        </div>
    </div>

    <div class="row">
      <div class="span4">
        <p id="notice"><%= notice %></p>

        <p>
          <!-- <b>Url:</b> -->
          <%= @app.url %>
        </p>
      </div>

  <div class="span4">
    <div class="btn pull-right">
        GitHub
    </div>
  </div>

<table>
  <% @app.comments.each do |comment| %>
    <tr>
      <td><%= comment.text %></td>
      <td><%= comment.first_name %></td>
      <td><%= comment.last_name %></td>
      <td><%= comment.email %></td>
    </tr>
  <% end %>
</table>

<p>
  <%= render 'comments/form' %>
</p>


      <div class="span4">
        <div class="btn-toolbar">
          <div class="btn-group pull-right">
            <div class="btn">
              Give Props!
            </div>
            <div class="btn">
              <%= @app.props %>
            </div>
          </div>
        </div>
      </div>
    </div>

        <p>
          <b>Email:</b>
          <%= @app.email %>
        </p>

     <% if false %>
        <p>
          <b>Codebase url:</b>
          <%= @app.codebase_url %>
        </p>

        <p>
            <b>Props:</b>
          <%= @app.props %>
        </p>
    <% end %>



        <%= link_to 'Edit', edit_app_path(@app) %> |
        <%= link_to 'Back', apps_path %>
</div>
