<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @app.name %>
</p>

<p>
  <b>Url:</b>
  <%= @app.url %>
</p>

<p>
  <b>Email:</b>
  <%= @app.email %>
</p>

<p>
  <b>Codebase url:</b>
  <%= @app.codebase_url %>
</p>

<p>
  <b>Props:</b>
  <%= @app.props %>
</p>

<p>
  <%= render 'comments/form' %>
</p>


<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
