<div class= "container">
    <div class= "row">
        <div class="span12">
            <h1>LaunchBox</h1>
        </div>
    </div>

  <div class= "row">
        <div class="span12">
            <h3> <%= @app.name %> </h3>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <img src="http://placehold.it/960x425">
        </div>
    </div>

    <div class="row">
      <div class="span4">
        <p id="notice"><%= notice %></p>
        <p>
          <!-- <b>Url:</b> -->
          <%= @app.url %>
        </p>
      </div>
      <div class="span4">
        <div class="btn pull-right">
            GitHub
        </div>
      </div>
      <div class="span4">
        <%= render 'props/form' %>
        <div class="btn">
          <%= @app.props.count %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class"offset3 span6">
        <table class="table table-striped">
          <% @app.comments.each do |comment| %>
            <tr>
              <td><%= comment.text %></td>
              <td><%= comment.first_name %></td>
              <td><%= comment.last_name %></td>
              <td><%= comment.email %></td>
            </tr>
          <% end %>
        </table>

        <p>
          <%= render 'comments/form' %>
        </p>
      </div>
    </div>



        <%= link_to 'Edit', edit_app_path(@app) %> |
        <%= link_to 'Back', apps_path %>
</div>
